.add-form {
  margin: 0 auto;
  width: 70%;
}
@media (min-width: 768px) {
  .add-form {
    width: 40%;
    /* margin: 0 auto; */
  }
  /* .item-add-form input[type="text"] {
    font-size: 23px;
  } */
}
.item-add-form input[type="text"] {
  margin-bottom: 5px;
  min-width: 220px;
  height: 50px;
}
