.item-add-form {
    width: 400px;
    font-size: 26px;
}
.item-add-form input{ 
    margin-top: 6px;
}

.word-add {
    width: 200px;
}
.translation-add {
    width: 200px;
}

.button-add {
    position: relative;
    margin: 12px;
}